#include "tTask_tecsgen.h"
CRE_TSK(TSKID_tTask_Task, { TA_ACT, &tTask_INIB_tab[0], tTask_start, 10, 1024, NULL });
CRE_TSK(TSKID_tTask_LogTask_Task, { TA_ACT, &tTask_INIB_tab[1], tTask_start, 3, 1024, NULL });
CRE_SEM(SEMID_tSemaphore_SerialPort1_ReceiveSemaphore, { TA_NULL, 0, 1 });
CRE_SEM(SEMID_tSemaphore_SerialPort1_SendSemaphore, { TA_NULL, 1, 1 });
#include "tInitializeRoutine_tecsgen.h"
ATT_INI({ TA_NULL, NULL, tInitializeRoutine_start });
#include "tTerminateRoutine_tecsgen.h"
ATT_TER({ TA_NULL, &tTerminateRoutine_INIB_tab[0], tTerminateRoutine_start });
ATT_TER({ TA_NULL, &tTerminateRoutine_INIB_tab[1], tTerminateRoutine_start });
